.popupStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3542c4;
    color: white;
    border-radius: 12px;
    z-index: 1001;
    font-family: Quicksand, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

.editLocationPopup-head{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.editLocation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    background: #000000c2;
    border-radius: 12px;
    margin: 15px;
    max-width: 400px;
    min-width: 260px;
    width: 80vw;
}

.editLocationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px 5px 10px 5px;
}

.inputFieldLocation{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    padding: 8px;
    font-size: 13px;
    color: white;
}

.inputFieldLocation:focus, .inputField:valid {
    outline: 0;
    border-bottom-color: lightblue;
}
