.locationConfirmationWindow-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #2f3542c4;
    color: white;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    max-width: 400px;
}

.locationConfirmationWindow-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #000000c2;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
}

.locationConfirmation-buttons{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}